footer {
  padding: 2rem;
  background-color: var(--header-background-color);
  font-size: var(--body-font-size-m);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
